/*__Обнуляющий стиль__*/
html,
body {
	width: 100%;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

li,
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*----------------------------------------------------------------------------------------------*/

.wrapper {
	max-width: 100%;
	min-height: 100%;

	position: relative;

	background-image: url(../img/background.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper::after {
	content: "";

	width: 100%;
	height: 100%;

	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.4);
}

.page-content {
	display: grid;
	grid-template-rows: minmax(150px, auto) 1fr minmax(150px, auto);
	max-width: 100%;
	min-height: 100vh;

	position: relative;
	z-index: 2;

	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
}

/* шапка */
.header {
	display: grid;
	grid-template-columns: minmax(auto, 900px) minmax(200px, auto);
	justify-content: center;
	align-content: center;
	column-gap: 50px;
	padding: 10px 15px;
	margin: 0 0 20px;

	background-color: rgba(10, 10, 10, 0.5);
}

.header-logo {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 50px;
}

.header-logo__link {
	width: 90px;
	height: 90px;

	position: relative;

	border-radius: 15px;
	border: 1px solid rgba(213, 255, 254, 0.1);
}

.header-logo__link::before {
	content: "";
	height: 0;
	width: 0;

	position: absolute;
	top: 0;
	left: 0;

	border-radius: 15px;
	border-left: 1px solid rgb(27, 193, 195, 0.01);
	border-top: 1px solid rgb(27, 193, 195, 0.01);
}

.header-logo__link:hover::before {
	content: "";
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	border-radius: 15px;
	border-left: 1px solid rgb(27, 193, 195, 0.01);
	border-bottom: 1px solid rgb(27, 193, 195, 0.01);
	animation: bordercolor 0.5s linear 0s forwards;
}

@keyframes bordercolor {
	0% {
		border-left: 1px solid rgb(27, 193, 195, 0.01);
		border-bottom: 1px solid rgb(27, 193, 195, 0.01);
	}

	50% {
		border-left: 1px solid rgb(27, 193, 195, 0.5);
		border-bottom: 1px solid rgb(27, 195, 105, 0.2);
	}

	100% {
		border-bottom: 1px solid rgb(27, 195, 105, 1);
		border-left: 1px solid rgb(27, 193, 195, 1);
	}
}

.header-logo__link::after {
	content: "";
	height: 100%;
	width: 100%;

	position: absolute;
	bottom: 0;
	right: 0;

	border-radius: 15px;
	border-right: 1px solid rgb(27, 193, 195, 0.01);
	border-top: 1px solid rgb(27, 193, 195, 0.01);
}

.header-logo__link:hover::after {
	animation: colorborder 0.5s linear 0.45s forwards;
}

@keyframes colorborder {
	0% {
		border-right: 1px solid rgb(27, 193, 195, 0.01);
		border-top: 1px solid rgb(27, 193, 195, 0.01);
	}

	50% {
		border-right: 1px solid rgb(27, 193, 195, 0.5);
		border-top: 1px solid rgb(27, 195, 105, 0.2);
	}

	100% {
		border-right: 1px solid rgba(255, 217, 0, 1);
		border-top: 1px solid rgb(207, 54, 23, 1);
	}
}

.header-logo__link img {
	width: 90%;
	height: 90%;

	position: absolute;
	top: 10px;
	left: 4px;

	object-fit: cover;
	object-position: center;
}

.header-logo__title {
	justify-self: start;
	align-self: end;

	font-family: 'Reggae One', cursive;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
	color: rgb(255, 174, 0);
}

.header-navigation {
	padding: 5px;
	display: grid;
	justify-content: center;
	align-content: center;
	align-self: end;
}

.header-menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 30px;
}

.header-menu__item {
	width: 40px;
	height: 40px;
	position: relative;
	transition: 0.3s linear 0.04s;
}

.header-menu__item:hover {
	transform: scale(1.1, 1.1);
	transition: 0.3s linear 0.2s;
}

.header-menu__item img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.header-menu__item_game img {
	position: absolute;
	top: 4px;
	left: 0;
	object-fit: cover;
	width: 115%;
	height: 115%;
}

/* основной контент */
.content {
	display: grid;
	align-content: center;
	justify-content: center;
	padding: 15px;
}

.game-card {
	width: 330px;
	height: 450px;
	display: grid;
	grid-template-rows: minmax(100px, auto) 1fr minmax(110px, auto);

	background-color: rgba(10, 10, 10, 0.5);
	border: 1px solid rgba(184, 184, 184, 0.7);
	border-radius: 5px;
	font-family: 'Reggae One', cursive;
	letter-spacing: 1.5px;
	transition: 0.3s linear 0.1s;
}

.game-card:hover {
	border: 1px solid rgba(211, 211, 211, 0.7);
	transition: 0.5s linear 0.1s;
}

.game-card__title {
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	border-bottom: 1px solid rgba(184, 184, 184, 0.3);
}

#attempt {
	color: rgb(34, 182, 208);
	font-weight: 700;
	font-size: 26px;
}

.game-card-text {
	padding: 5px;
	display: grid;
	align-content: center;

	font-size: 20px;
}

.game-card-text p {
	text-align: center;
}

.game-card-text span {
	font-size: 26px;
	color: rgb(255, 174, 0);
	letter-spacing: 1.2px;
}

.game-card-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.game-card__btn {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	font-size: 15px;
	border: 1px solid rgba(184, 184, 184, 0.7);
}

.btn_blue {
	background-color: rgb(104, 71, 141);
	transition: 0.2s linear 0.1s;
}

.btn_blue img {
	width: 32px;
	height: 32px;
}

.btn_blue:hover {
	background-color: rgb(99, 93, 163);
	transition: 0.3s linear 0.1s;
}

.btn_blue:active {
	background-color: rgb(120, 113, 201);
	transition: 0.1s linear 0.01s;
}

.btn_green {
	background-color: rgb(24, 164, 99);
	font-size: 22px;
	transition: 0.2s linear 0.1s;
}

.btn_green:hover {
	background-color: rgb(20, 205, 119);
	transition: 0.6s linear 0.1s;
}

.btn_green:active {
	background-color: rgb(16, 209, 74);
	transition: 0.1s linear 0.01s;
}

.btn_big {
	grid-column: 1/4;
	grid-row: 2/3;
	display: inline-block;

	position: relative;

	font-size: 22px;
	background-color: rgb(80, 163, 218);
	transition: 0.2s linear 0.1s;
}

.btn_big:hover {
	background-color: rgb(29, 187, 195);
	transition: 0.3s linear 0.1s;
}

.btn_big:active {
	background-color: rgb(13, 164, 139);
	transition: 0.1s linear 0.01s;
}

.btn_big img {
	margin: -16px -90px 0 0;
	width: 32px;
	height: 32px;

	position: absolute;
	top: 50%;
	right: 50%;

	opacity: 0.7;
}

/* Подвал */
.footer {
	display: grid;
	grid-template-columns: minmax(300px, auto) minmax(400px, auto) minmax(300px, auto);
	justify-content: center;
	align-items: center;
	column-gap: 150px;

	letter-spacing: 1.3px;
	background-color: rgba(10, 10, 10, 0.5);
}

.footer-navigation {
	padding: 5px 10px;
}

.footer-navigation-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-content: center;
	gap: 15px;
	justify-content: center;
}

.footer-navigation-links__item {
	line-height: 1;
}

.footer-navigation-links__link {
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.3s linear 0.05s;
}

.footer-navigation-links__link:hover {
	transform: scale(1.2, 1.2);
	transition: 0.3s linear 0.1s;
}

.footer-navigation-links__link img {
	width: 100%;
	height: 100%;
}

.footer-menu {
	padding: 5px;
}

.footer-menu-links li:last-child {
	margin: 0;
}

.footer-menu__item {
	margin: 0 0 15px;
	font-size: 14px;
}

.footer-menu__link {
	color: rgb(206, 207, 207);
	transition: 0.3s linear 0.05s;
	font-weight: 700;
}

.footer-menu__link:visited {
	color: rgb(206, 207, 207);
}

.footer-menu__link:hover {
	color: rgb(73, 243, 243);
	transition: 0.3s linear 0.05s;
}

.footer-menu__link:active {
	color: rgb(73, 243, 164);
	transition: 0.2s linear 0.05s;
}

.footer-text {
	font-family: 'Roboto Slab', serif;
	font-style: italic;
	font-size: 14px;
}

.footer-text span {
	color: rgb(255, 174, 0);
	font-weight: 700;
	font-style: normal;
}

.link-stop {
	animation: salto 1s linear 0.2s;
}

@keyframes salto {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate3d(1, 1, 0, -360deg);
	}
}

/*----Адаптив----*/

@media (max-width: 1320px) {
	.header-logo__title {
		font-size: 36px;
	}

	.footer {
		gap: 30px;
		grid-template-columns: repeat(3, auto);
	}

	.footer-text {
		font-family: 'Roboto Slab', serif;
		align-self: center;
		font-style: italic;
		text-align: center;
		font-size: 12px;
	}
}

@media (max-width: 870px) {
	.header {
		grid-template-columns: auto;
		row-gap: 30px;
	}

	.header-logo {
		gap: 15px;
	}

	.header-logo__title {
		font-size: 27px;
		letter-spacing: 2px;
	}

	.footer {
		grid-template-columns: 1fr;
		padding: 20px;
		row-gap: 20px;
		justify-items: center;
	}

}

/*-------------------------------------- popup -----------------------------------------*/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 3;
	width: 100%;
	height: 100%;

	background-color: rgba(82, 90, 91, 0.97);
	transition: 0.9s linear 0s;
	animation: showPopup 1s linear 0s forwards;
}

@keyframes showPopup {

	0% {
		transform: translate(0px, -100%) perspective(1000px) rotateX(-90deg) scale3d(0.2, 0.2, 0.2);
	}

	100% {
		transform: translate(0px, 0%) perspective(1000px) rotateX(0deg) scale3d(1, 1, 1);
	}
}

.popup-close {
	z-index: 0;
	opacity: 0;
	transition: 0.9s linear 0s;
	animation: closePopup 0.6s linear 0s;
}

@keyframes closePopup {

	0% {
		transform: translate(0px, 0%) perspective(1000px) rotateX(0deg);
	}

	100% {
		transform: translate(0px, -100%) perspective(1000px) rotateX(-60deg);
	}
}

.popup-container {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100%;
	font-size: 20px;
}

.popup-content {
	width: 360px;
	padding: 50px 15px 20px;

	position: relative;
	background-color: rgb(24, 71, 110);
}

.popup-border {
	border: 2px solid rgb(250, 145, 8);
	padding: 10px;
}

.popup-border__title {
	margin: 0 0 10px 30px;
	padding: 0 3px;

	font-size: 25px;
	color: rgb(248, 165, 9);
	font-weight: 700;
	letter-spacing: 2px;
	font-family: 'Reggae One', cursive;
}

.popup-form {
	padding: 10px;
	color: rgb(33, 32, 32);
	background-color: rgb(28, 115, 126);
}

.popup-form label {
	display: block;
	margin: 0 0 10px;
	color: white;
}

.popup__input {
	margin: 0 0 20px;
	padding: 10px 15px;
	width: 100%;

	background-color: rgb(236, 253, 251);
	transition: 0.2s linear 0.1s;
	font-size: 20px;
}

.popup__input:focus {
	box-shadow: 0 0 1px 2px rgb(244, 167, 11);
	transition: 0.5s linear 0.01s;
}

.popup__message {
	margin: 0 0 20px;
	padding: 15px 10px;

	background-color: rgb(236, 253, 251);
}

.popup__button {
	width: 100%;
	padding: 15px;

	background-color: rgb(255, 128, 1);
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 22px;
	border: 2px solid rgba(102, 102, 102, 0.6);
	transition: 0.2s linear 0.1s;
}

.popup__button:hover {
	background-color: rgb(238, 156, 25);
	transition: 0.6s linear 0.1s;
}

.popup__button:active {
	background-color: rgb(255, 159, 4);
	transition: 0.3s linear 0.01s;
}

.popup__close-btn {
	width: 32px;
	height: 32px;

	position: absolute;
	top: 0;
	right: 0;

	outline: 1px solid rgb(225, 163, 8);
	background-color: rgb(203, 224, 225);
	cursor: pointer;
	transition: 0.3s linear 0.05s;
}

.popup__close-btn img {
	width: 32px;
	height: 32px;
}

.popup-close:hover {
	background-color: rgb(215, 238, 239);
	transition: 0.4s linear 0.1s;
}

.popup-close:active {
	background-color: rgb(213, 213, 213);
	transition: 0.2s linear 0.01s;
}

.popup-span {
	display: inline-block;
	padding: 0 5px;

	letter-spacing: 2px;
	font-family: 'Reggae One', cursive;
	font-size: 20px;
	color: orange;
}